{% if question %}
    <form action="/question/{{ question.id }}" method="post">
{% else %}
    <form action="/question/" method="post">
{% endif %}
    <div>
        <label for="name">Name: </label>
            {% if question %}
                <input id="name" type="text" name="name" value="{{ question.name }}"/>
            {% else %}
                <input id="name" type="text" name="name"/>
            {% endif %}
    </div>
    <button type="submit">Submit</button>
</form>